@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200&display=swap');
table {
    margin-top: 1%;
    margin-bottom: 3%;
    border-radius: 0.5em !important;
    background-color: #B4CDED !important;
    color: rgb(66, 62, 62) !important;
    text-align: center !important;
}
nav {
    color: white;
    background-color: #3f3d3d !important;
    margin-bottom: 7px;
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
}
.heading{
    font-family: 'Jost', sans-serif;
    padding: 0.4em !important;
}
button{
    background-color: #76a0c8 !important;
    border: none !important;
}
.footer{
    margin-top: 1em !important;
    color: white;
    background-color: #3f3d3d !important;
    padding: 0.3em !important;
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
}
.error{
    background-color: rgb(221, 98, 98) !important;
}
.success{
    background-color: rgb(99, 187, 99) !important;

}
/* modal */
.modal-popup {
    display: flex;
    margin-top: 9em;
    /* align-items: center; */
    /* justify-content: center; */
    position: fixed;
    /* text-align: center !important; */
    width: 90%;
    /* height: -90% !important; */
}

.model-inner {
   
    background-color: white;
    border-style: solid;
    border-radius: 0.5em;
    max-width: 600px;
    padding: 4em;
    margin: auto;
    text-align: center !important;
}

[x-cloak] {
    display: none !important;
}

.overlay {
    
    width: 100%;
    height: 100%;
    position: fixed;
    top: 1em;
    left: 0;
    background: black;
    opacity: 0.75;
}

/*  */
#snackbar {
    /* visibility: hidden; Hidden by default. Visible on click */
    min-width: 250px;
    /* Set a default minimum width */
    margin-left: -125px;
    /* Divide value of min-width by 2 */
    background-color: #333;
    /* Black background color */
    color: #fff;
    /* White text color */
    text-align: center;
    /* Centered text */
    border-radius: 2px;
    /* Rounded borders */
    padding: 16px;
    /* Padding */
    position: fixed;
    /* Sit on top of the screen */
    z-index: 1;
    /* Add a z-index if needed */
    left: 50%;
    /* Center the snackbar */
    bottom: 70px;
    /* 30px from the bottom */
    visibility: visible;
    /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 70px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 70px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 70px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 70px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}